<% include partials/header.ejs %>
<h1>LOGIN</h1>

<form method="POST" action="/login">
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <input type="submit" value="LOGIN">
</form>

<% include partials/footer %>